@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;


}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &:nth-child(odd) {
        background-color: #ddd;
    }

    &__title {
        font-size: 32px;
        text-transform: uppercase;
        border-bottom: 1px black solid;
    }

    &__content {
        width: 80%;
        font-size: 24px;
        border-top: 1px black solid;
    }
}